In [ ]:
import pandas as pd
data = pd.read_csv('leadersdata.csv')
data

           Player   I    R    B  Outs    Avg      SR   HS  4s  6s  50  100
0         A Bagai  15  343  556    13  26.38   61.69   84  38   0   2    0
1     A Balbirnie   6  236  260     6  39.33   90.77   97  20   4   2    0
2    A Codrington   5   28   65     5   5.60   43.08   16   2   0   0    0
3      A Flintoff  12  248  357    12  20.67   69.47   64  20   7   1    0
4        A Flower   7  332  459     7  47.43   72.33   71  30   1   3    0
..            ...  ..  ...  ...   ...    ...     ...  ...  ..  ..  ..  ...
643   Younis Khan  17  349  493    16  21.81   70.79   72  23   1   2    0
644     YS Chahal   1    5    5     1   5.00  100.00    5   1   0   0    0
645  Yuvraj Singh  21  738  817    14  52.71   90.33  113  68  13   7    1
646        Z Khan  10   52   70     9   5.78   74.29   15   6   0   0    0
647    ZE Surkari   6  104  231     6  17.33   45.02   34   7   0   0    0

[648 rows x 12 columns]

In [ ]:
data.set_index('Player', inplace=True)

In [ ]:
# Creating pandas series for each column
innings = data['I']
runs = data['R']
balls = data['B']
outs = data['Outs']
batting_average = data['Avg']
strike_rate = data['SR']
highest_score = data['HS']
number_of_fours = data['4s']
number_of_sixes = data['6s']
number_of_fifties = data['50']
number_of_hundreds = data['100']

In [29]:
data.dtypes

I         int64
R        object
B        object
Outs      int64
Avg     float64
SR      float64
HS        int64
4s        int64
6s        int64
50        int64
100       int64
dtype: object

In [32]:
runs.dtypes

dtype('O')

In [35]:
#imported as objects, changing to int64
#imported as objects, changing to int64
runs = runs.str.replace(',', '').astype(int)
balls = balls.str.replace(',', '').astype(int)
runs.astype('int64')
balls.astype('int64')

Player
A Bagai         556
A Balbirnie     260
A Codrington     65
A Flintoff      357
A Flower        459
               ...
Younis Khan     493
YS Chahal         5
Yuvraj Singh    817
Z Khan           70
ZE Surkari      231
Name: B, Length: 648, dtype: int64

How many players have a batting average greater than 30 in the batting_average series

In [ ]:
(batting_average > 30).sum()

169

What is the maximum number of runs scored by a player in the runs series

In [36]:
runs.max()

1532

Name the player with maximum runs

In [37]:
runs.loc[runs == runs.max()]

Player
KC Sangakkara    1532
Name: R, dtype: int64

Name the player who played least number of balls

In [38]:
balls.loc[balls == balls.min()]

Player
CJ Jordan        1
EC Rainsford     1
JJ Bumrah        1
KW Richardson    1
M Zondeki        1
MM Sharma        1
PHT Kaushal      1
PJK Mooney       1
PT Collins       1
SW Tait          1
XJ Doherty       1
Name: B, dtype: int64

How many players have played more than 500 balls in the balls series

In [41]:
len(balls[balls > 500])

70

What is the mean value of the batting_average series

In [42]:
batting_average.mean()

20.89378086419753

How many players have a strike rate less than 70 in the strike_rate series

In [45]:
(strike_rate < 70).sum()

309

What is the minimum number of innings played by a player in the innings series

In [46]:
innings.min()

1

How many players have a batting average greater than 50 in the batting_average series

In [48]:
(batting_average > 50).sum()

52

How many players have a batting average between 20 and 30 (inclusive) in the batting_average series

In [55]:
len(batting_average[(batting_average >= 20) & (batting_average <= 30)])

113

Calculating the Average Balls Faced by a Player

In [56]:
balls.mean()

195.14969135802468

How many players have a strike rate greater than 120 in the strike_rate series

In [58]:
(strike_rate > 120).sum()

39

Provide the names of the top three players from the strike_rate series

In [59]:
strike_rate.sort_values(ascending=False).head(3)

Player
KD Mills        233.33
LD Chandimal    216.67
F Behardien     205.56
Name: SR, dtype: float64

Sum of Maximums from number_of_fours and number_of_sixes Series

In [60]:
number_of_fours.max() + number_of_sixes.max()

196

How many players have a batting average below 10 in the batting_average series

In [62]:
(batting_average < 10).sum()

220

Name the player who hit maximum sixes

In [64]:
number_of_sixes.sort_values(ascending=False).head(1)

Player
CH Gayle    49
Name: 6s, dtype: int64

How many players have a strike rate between 80 and 90 (inclusive) in the strike_rate series

In [69]:
len(strike_rate[(strike_rate >= 80) & (strike_rate <= 90)])

92

What is the total number of runs scored by all players in the runs series

In [70]:
runs.sum()

102041

What is the range (difference between the maximum and minimum values) of the number_of_fifties series

In [71]:
number_of_fifties.max() - number_of_fifties.min()

10

How many players have a strike rate below 60 in the strike_rate series

In [72]:
(strike_rate < 60).sum()

221

Calculating the Mean Number of Boundaries (Fours + Sixes) Hit by a Player

In [73]:
number_of_fours.mean() + number_of_sixes.mean()

17.566358024691358

Players with highest score in highest_score series

In [75]:
top_five_scores = highest_score.sort_values(ascending=False).head(5)
top_five_scores

Player
MJ Guptill    237
CH Gayle      215
DA Warner     178
V Sehwag      175
CB Wishart    172
Name: HS, dtype: int64