In [5]:
import pandas as pd
df = pd.read_excel('world_data.xls')
df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,103889.0,0.011897,88.661227,NaN,75.451098,97.513962,NaN
1,Andorra,EU,AND,NaN,70473.0,0.030622,96.910000,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,6.291267e+10,32526562.0,0.023646,8.260000,0.533629,60.374463,23.873850,0.073278
3,Angola,AF,AGO,1.844377e+11,25021974.0,0.028724,12.400000,0.499538,52.266878,60.744801,0.373074
4,Albania,EU,ALB,3.266324e+10,2889167.0,0.010702,63.252933,0.273431,77.830463,96.769691,0.271050

In [11]:
# Converting columns to pandas series
country_name = pd.Series(df['Country Name'])
country_code = pd.Series(df['Country Code'])
population = pd.Series(df['Population, total'])
gdp = pd.Series(df['GDP, PPP (current international $)'])
internet_users = pd.Series(df['Internet users (per 100 people)'])
life_expectancy = pd.Series(df['2014 Life expectancy at birth, total (years)'])
literacy_rate = pd.Series(df['Literacy rate, adult female (% of females ages 15 and above)'])
exports = pd.Series(df['Exports of goods and services (% of GDP)'])

What is the data type of country_name?

In [13]:
country_name.dtype

dtype('O')

What is the size of the gdp series?

In [14]:
gdp.size

264

What is the data type of the internet_users series?

In [15]:
internet_users.dtype

dtype('float64')

What is the value of the first element in the population series?

In [16]:
population[0]

103889.0

What is the value of the last element in the life_expectancy series?

In [21]:
life_expectancy[life_expectancy.size - 1]

57.498317073170746

In [22]:
life_expectancy.tail(1)

263    57.498317
Name: 2014 Life expectancy at birth, total (years), dtype: float64

What is the value of the element with index 29 in the literacy_rate series?

In [23]:
literacy_rate[29]

95.4420318603516


What is the value of the last element in the gdp series?

In [24]:
gdp[gdp.size - 1]

27984877194.652447

What is the mean of the internet_users series?

In [25]:
internet_users.mean()

47.55657102325722

What is the standard deviation of the internet_users series?

In [26]:
internet_users.std()

27.691717353487643

What is the median of the exports series?

In [27]:
exports.median()

0.30183071080490165

What is the minimum value in the life_expectancy series?

In [28]:
life_expectancy.min()

48.934731707317084

What is the average literacy rate of all countries?

In [29]:
literacy_rate.mean()

80.91936549162253

Sort country_name series in ascending order

In [30]:
country_name.sort_values(ascending=True)

2             Afghanistan
4                 Albania
57                Algeria
9          American Samoa
1                 Andorra
              ...
256    West Bank and Gaza
257                 World
259           Yemen, Rep.
262                Zambia
263              Zimbabwe
Name: Country Name, Length: 264, dtype: object

Sort multiple series at once
country_name and literacy_rate

In [33]:
literacy_rate_sorted = literacy_rate.sort_values()
country_name_sorted_by_literacy_rate = country_name[literacy_rate_sorted.index]
country_name_sorted_by_literacy_rate

171                             Niger
156                              Mali
82                             Guinea
2                         Afghanistan
32           Central African Republic
                    ...
248                     United States
250    St. Vincent and the Grenadines
252            British Virgin Islands
253             Virgin Islands (U.S.)
257                             World
Name: Country Name, Length: 264, dtype: object